<section class="todoapp" *ngIf="todoListObs | async as todo">
  <header class="header">
    <h1>{{todo.label}}</h1>
    <form (submit) = service.create(lab.value)>
      <input  name        = "newTodoInput"
              class       = "new-todo"
              placeholder = "Que faire?"
              autofocus #lab/>
    </form>
  </header>
  <section class="main">
    <input  class="toggle-all"
            type="checkbox"
            name="toggleAll"
    />
    <label for="toggleAll">Mark all as complete</label>
    <ul class="todo-list">
      <li *ngFor="let item of todoList.items">
        <app-todo-item [todoitem]="item"
        ></app-todo-item>

      </li>
    </ul>
  </section>
  <footer class="footer">
    <span class="todo-count"><strong></strong> restantes</span>
    <ul class="filters">
      <li>
        <a class="filterAll">Tous</a>
      </li>
      <li>
        <a class="filterActives">Actifs</a>
      </li>
      <li>
        <a class="filterCompleted">Complétés</a>
      </li>
    </ul>
    <button class="clear-completed">Supprimer cochées</button>
  </footer>
</section>
